<h2>Agregar Registro</h2>
<form [formGroup]="formulario">
  <mat-form-field appearance="fill">
    <mat-label>País</mat-label>
    <mat-select [formControl]="formulario.get('pais')" name="pais">
      <mat-option *ngFor="let pais of paises" [value]="pais">{{ pais }}</mat-option>
    </mat-select>
  </mat-form-field>>

  <mat-form-field appearance="fill">
    <input matInput formControlName="nombre" placeholder="Nombre">
  </mat-form-field>

  <mat-form-field appearance="fill">
      <input matInput formControlName="apellido" placeholder="Apellido">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput formControlName="edad" placeholder="Edad">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput formControlName="genero" placeholder="Género">
  </mat-form-field>

  <br>
  <mat-checkbox formControlName="activo">Activo</mat-checkbox>
  <br>

  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
  
  <button mat-raised-button color="warn" (click)="cerrar()">Cerrar</button>
</form>