  table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #8b8e92;
  color: #fff;
  text-align: left;
  padding: 16px;
  font-weight: bold;
}

td {
  border: 1px solid #ddd;
  padding: 16px;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}



.agregar-fila-btn {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.agregar-fila-btn:hover {
  background-color: #0056b3;
}